section {
  font-size: 12px;
  background: var(--primary-color);
  color: var(--white);
  border-radius: 0 20px 0 0;
  padding-bottom: 3rem;

  .img {
    display: none;
  }

  .content {
    width: 82%;
    margin: 0 auto;
    padding-top: 3rem;

    h2 {
      color: var(--secondy-color);
      font-weight: 400;
      font-size: 30px;
      width: 70%;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--secondy-color);
    }

    h4 {
      font-size: 20px;
      font-weight: 400;
      color: var(--secondy-color);
      padding: 1rem 0;
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      > li {
        margin-left: 1rem;

        > span {
          font-weight: 600;
        }
      }
    }

    p {
      text-align: justify;
    }

    .btn {
      margin-top: 1.4rem;
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    border-radius: 0 80px 0 0;
    font-size: 16px;

    .img {
      display: flex;
      flex-direction: column;
      max-width: 1100px;
      max-height: 750px;
      margin: auto;
      position: relative;

      > a.credit {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: var(--white);
        font-size: 12px;
        text-decoration: none;
      }

      > img {
        width: 100%;
        border-radius: 8px;
      }
    }

    .content {
      padding: 5rem 3rem 3rem 1rem;
      width: 90%;

      margin: 0 auto;
      text-align: justify;

      .btn {
        justify-content: start;
      }
    }
  }

  @media (min-width: 1690px) {
    flex-direction: row;

    .content {
      width: 90%;
      padding: 5rem 5rem 3rem 5rem;

      .btn {
        margin-top: 0;
        justify-content: end;
      }
    }

    .img {
      padding-left: 1rem;

      > a.credit {
        left: 20px;
      }
    }
  }
}
