<section id="about" class="about">
  <div class="img">
    <img
      src="mulher-empreendendo.jpg"
      alt="Mulher loira empreendedora em seu notebook"
      title="Imagem de senivpetro no Freepik"
    />
    <a
      href="https://br.freepik.com/fotos-gratis/retrato-de-um-mulher-negocio-trabalhar-laptop_2859028.htm?sign-up=google#fromView=search&page=1&position=42&uuid=e23b9839-66fa-4917-9ee5-56c84e75d0c1"
      target="_blank"
      class="credit"
      >Imagem de senivpetro no Freepik</a
    >
  </div>
  <div class="content">
      <h2>Sobre Nós</h2>
      <p>
        Na Tryad, somos dedicados a fornecer soluções financeiras personalizadas
        e estratégicas para ajudar nossos clientes a alcançar seus objetivos
        econômicos e patrimoniais. Com anos de experiência no setor financeiro,
        nossa equipe de especialistas combina conhecimento profundo e abordagem
        inovadora para garantir que cada cliente receba consultoria de
        excelência.
      </p>
      <h4>Nossa Missao</h4>
      <p>
        Nossa missão é empoderar nossos clientes com as ferramentas e o
        conhecimento necessários para tomar decisões financeiras informadas e
        eficazes. Trabalhamos incansavelmente para oferecer insights valiosos e
        estratégias sob medida que promovam o crescimento sustentável e a
        segurança financeira de nossos clientes.
      </p>
      <h4>O que nos diferencia</h4>
      <ol>
        <li>
          <span>Experiência e Expertise:</span> Nossa equipe é composta por
          profissionais altamente qualificados com vasta experiência em diversas
          áreas da consultoria financeira, incluindo planejamento financeiro,
          investimentos, gestão de riscos e otimização tributária.
        </li>
        <li>
          <span>Abordagem Personalizada:</span> Entendemos que cada cliente é
          único, com necessidades e objetivos distintos. Por isso, adotamos uma
          abordagem personalizada para desenvolver estratégias que atendam às
          suas necessidades específicas.
        </li>
        <li>
          <span>Inovação e Tecnologia:</span> Utilizamos as mais recentes
          tecnologias e metodologias financeiras para garantir que nossos
          clientes tenham acesso às soluções mais avançadas e eficazes do
          mercado.
        </li>
        <li>
          <span>Transparência e Integridade:</span> Valorizamos a transparência
          em todas as nossas interações. Nossos clientes podem confiar que
          agimos com integridade e sempre em seu melhor interesse.
        </li>
      </ol>
      <h4>Por que escolher a Tryad?</h4>
      <p>
        Escolher a Tryad é optar por uma parceria comprometida com seu sucesso
        financeiro. Estamos aqui para guiá-lo em cada etapa do seu caminho
        financeiro, oferecendo suporte contínuo e soluções que realmente fazem a
        diferença.
      </p>
      <app-button text="Agende uma consulta" class="btn" />
    </div>
</section>
