<div
  class="overlay"
  tabindex="0"
  (click)="closePopup()"
  (keydown)="handleKeyDown($event)"
>
  <div
    class="popup"
    tabindex="0"
    (keydown)="handleKeyDown($event)"
    (click)="$event.stopPropagation()"
  >
    <h2>Contatos</h2>
    <div class="content">
      <p>
        Entre em contato conosco para agendar uma consulta e descobrir como
        podemos fazer a diferença no seu planejamento financeiro.
      </p>
      <div class="btns">
        <app-button text="Agendar uma reunião" width="90%" (click)="openCalendly()">
        </app-button>
        <app-button text="Tirar dúvidas" width="90%" color="#253036" (click)="openWhats()">
        </app-button>
      </div>
    </div>
    <app-button text="Fechar" color="#8a8a8a" (click)="closePopup()">
    </app-button>
  </div>
</div>
