<section id="home">
  <div class="content">
    <div class="text">
      <app-content-home />
    </div>
    <div class="img">
      <img
        src="home-image.jpg"
        alt="Imagem de fundo da home page"
        title="Imagem de fundo da home page"
      />
      <a
        href="https://br.freepik.com/fotos-gratis/aproximar-se-do-dinheiro-guardado-para-poupanca_234839839.htm#from_view=detail_alsolike"
        target="_blank"
        class="credit"
        >Imagem de freepik</a
      >
    </div>
  </div>
</section>