<h1>Seu futuro financeiro começa aqui.</h1>
<h2>Planeje, invista e cresça.</h2>
<div>
  <p>
    Independentemente da sua meta, estamos aqui para ajudá-lo a alcançá-la de
    maneira eficiente e estratégica.
  </p>
  <p>
    Fale com uma de nossas especialistas hoje mesmo e inicie seu caminho rumo a
    um planejamento financeiro sob medida para você.
  </p>
  <app-button
    class="btn"
    [text]="text"
    tabindex="0"
    (click)="openPopup()"
    (keydown)="handleKeyDown($event)"
  />
</div>
