:root {
  --primary-color: #253036;
  --secondy-color: #e4a350;
  --white: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Junge', cursive;
}